@media screen and (max-width:560px) {
  .header__humburger-button_type_cross {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 3px;
    background-color: white;
    border: none;
    position: relative;
    margin-right: 30px;
    margin-top: 37px;
    transform: rotate(-45deg);
    grid-row: 2;
  }

  .header__humburger-button_type_cross::before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: white;
    transform: rotate(90deg);
    top: 9px;
    bottom: 0;
  }

  .header__humburger-button_type_cross::after {
    opacity: 0;
  }
}
