.copyright {
  margin: 0;
  padding-top: 66px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}


@media screen and (max-width:960px) {
  .copyright {
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
  }
}


@media screen and (max-width:420px) {
  .copyright {
    padding-top: 48px;
    margin-left: 19px;
    margin-right: 19px;
    padding-bottom: 36px;
  }
}
