.element__like-button_loading {
  animation: 0.7s ease-in-out 0s infinite forwards running rotate;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	14.29% {
		transform: rotate(-7.5deg);
	}
	28.57% {
		transform: rotate(-7.5deg);
	}
	57.14% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-15deg);
  }
  90% {
    transform: rotate(-7.5deg);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
