.elements {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
  margin-top: 51px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}


@media screen and (max-width:960px) {
  .elements {
    grid-template-columns: repeat(3, calc((100% - 34px) / 3));
  }
}

@media screen and (max-width:690px) {
  .elements {
    grid-template-columns: repeat(2, calc((100% - 17px) / 2));
    padding-left: 19px;
    padding-right: 19px;
  }
}


@media screen and (max-width:420px) {
  .elements {
    grid-template-columns: 100%;
  }
}
