.profile__edit-button {
  height: 24px;
  width: 24px;
  align-self: center;
  margin-left: 18px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/Edit-Button.svg);
  background-size: cover;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:420px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }
}
