.auth-form__input {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  margin-top: 13px;
  padding: 0;
  width: 100%;
  padding-bottom: 13px;
  border-bottom: 2px solid #CCCCCC;
  color: white;
  background-color: transparent;
}

.auth-form__input::placeholder {
  color: #CCCCCC
}
