.profile__avatar-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-size: cover;
}
@media screen and (max-width:960px) {
  .profile__avatar-button {
    align-self: center;
  }
}


.profile__avatar-button::after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/edit-avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.profile__avatar-button:hover::after {
  opacity: 1;
}
