.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 358px;
  background-color: white;
  border-radius: 10px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 34px;
  padding-bottom: 37px;
}

@media screen and (max-width: 560px) {
  .popup__container {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 238px;

  }
}
