.profile__add-button {
  display: block;
  margin-left: auto;
  align-self: center;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/Add-Button.svg);
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-size: cover;
}

.profile__add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width:690px) {
  .profile__add-button {
    margin-right: auto;
    margin-top: 36px;
    width: 282px;
    background-image: url(../../../images/Add-Button_mobile.svg);
  }
}
