.auth-form__button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  height: 50px;
  background-color: white;
  border-radius: 2px;
  border: none;
  margin-top: 216px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  width: 100%;
}

.auth-form__button:hover {
  opacity: 0.85;
}


.auth-form__button:disabled {
  filter: brightness(0.5);
  cursor: initial;
}
