@import url(./vendor/normalize.css);

@import url(./vendor/fonts/Inter-Web/inter.css);

@import url(./blocks/page/page.css);
@import url(./blocks/no-scroll/no-scroll.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/_lowered/header_lowered.css);
@import url(./blocks/header/__content/header__content.css);
@import url(./blocks/header/__content/_simple/header__content_simple.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_faded/header__link_faded.css);
@import url(./blocks/header/__right-block/header__right-block.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__humburger-button/header__humburger-button.css);
@import url(./blocks/header/__humburger-button/_type/header__humburger-button_type_cross.css);
@import url(./blocks/header/__right-block/_visible/header__right-block_visible.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__picture/element__picture.css);
@import url(./blocks/element/__picture-button/element__picture-button.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-button/_loading/element__like-button_loading.css);

@import url(./blocks/footer/footer.css);

@import url(./blocks/copyright/copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_full-view.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_approval.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__picture-container/popup__picture-container.css);
@import url(./blocks/popup/__full-picture/popup__full-picture.css);
@import url(./blocks/popup/__picture-elements/popup__picture-elements.css);
@import url(./blocks/popup/__close-button/_position/popup__close-button_position_tooltip.css);
@import url(./blocks/popup/__picture-title/popup__picture-title.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);

@import url(./blocks/popup/__info-img/popup__info-img.css);
@import url(./blocks/popup/__info-text/popup__info-text.css);


@import url(./blocks/auth-form/auth-form.css);
@import url(./blocks/auth-form/__container/auth-form__container.css);
@import url(./blocks/auth-form/__header/auth-form__header.css);
@import url(./blocks/auth-form/__inputs/auth-form__inputs.css);
@import url(./blocks/auth-form/__input/auth-form__input.css);
@import url(./blocks/auth-form/__input/_type/auth-form__input_type_error.css);
@import url(./blocks/auth-form/__error/auth-form__error.css);
@import url(./blocks/auth-form/__error/_visible/auth-form__error_visible.css);
@import url(./blocks/auth-form/__button/auth-form__button.css);
@import url(./blocks/auth-form/__link/auth__link.css);
@import url(./blocks/auth-form/__bottom-message/auth-form__bottom-message.css);
